.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .card:hover {
    background-color: #1f1f1f;
    border-color: #0d6efd;
    transition: 0.3s ease-in-out;
  }
  
  .card-title {
    margin-top: 1rem;
  }
  .custom-bg {
    background-image: url('https://media.iceportal.com/84323/photos/82213636_XXL.jpg'); /* or your correct path */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
  }
  .custom-bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* semi-transparent black */
    z-index: -1;
  }
  
    .card:hover {
        transform: scale(1.02);
        transition: transform 0.3s ease;
      }
      .btn-outline-light {
        transition: transform 0.3s ease;
      }
      
      .btn-outline-light:hover {
        transform: scale(1.15);
      }
            